
<div class='container row'>
<li class="dropdown pull-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="images/details.jpg" ></img></a>
          <ul class="dropdown-menu details-menu">
            <li>
            	<h4>Common implementations</h4>

            </li>
            <li><span class='hightlight'>#1.UI-Router</span> </li>
            <li>
            	<p>
            	UI-Routing with single state and dynamic paramters<br>
   -- All partials are loaded using ui-view<br>
   -- "courseDetails" state is refered with "name" and "link" dynamic URL paramters<br>
   -- Based on URL paramters ,showing the tutorial links will be decided.<br>[for Angularjs,jquery tutorial link is there ;<br>But for nodeJs link paramter is no;So it wont be displayed]
    </p>
            </li>
            <li role="separator" class="divider"></li>
            <li><span class='hightlight'>#2.communication between controllers</span></li>
            <li>Provided Registration name and email values are passed to after registration page through service</li>
            <li role="separator" class="divider"></li>
            <li><span class='hightlight'>#3.page animations are implemented for all transitions.</span></li>
            <li role="separator" class="divider"></li>
            <li><span class='hightlight'>#9.RequireJS implemented</span></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
<div class='col-xs-8' ui-view="details">

</div>
<div class='col-xs-4' ng-show = "link === 'Yes'">
 
	<div ui-view ="link">
	</div>
	

</div>
</div>

