<h1>Tutorials</h1>
<div ng-switch on='name'>
<div ng-switch-when='AngularJS' class='jumbotron text-center'>
	<p>	

	<a href="https://docs.angularjs.org">Angularjs.org</a><br>
	<a href="http://www.tutorialspoint.com/angularjs">Tutorials Point</a><br>
	<a href="https://www.sitepoint.com/premium/books/angularjs-novice-to-ninja">Sitepoint</a>
	
	</p>



</div>
<div ng-switch-when='Jquery' class='jumbotron text-center'>
	
<p>	

	<a href="http://www.w3schools.com/jquery/">W3Schools</a><br>
	<a href="http://www.tutorialspoint.com/jquery/">Tutorials Point</a><br>
	<a href="http://www.javatpoint.com/jquery-tutorial">Java Point</a>
	
	</p>



</div>
</div>